h1 {
  color: rgb(197, 76, 0);
  background-color: rgb(246, 193, 182);
  font-size: 50px;
}

p {
  color: rgb(12, 11, 11);
}

a {
  color: lightsalmon;
  font-weight: bold;
  font-size: large;
  font-style: oblique;
}

h2,
h3 {
  color: rgb(219, 182, 60)
}

body {
  background-color: rgb(238, 225, 225);
  font-family: cursive;
  text-align: center;
  line-height: 50px;
}

.hraci {
  background-color: rgb(107, 3, 3);
}

table {
  width: 60%;
  table-layout: fixed;
}

.prvni {
  width: 50%;
}

.druhy {
  width: 30%;
}

.treti {
  width: 50%;
}

div {
  border: 3px solid red;
  border-radius: 10%
}
